4. Create a list of your favorite movies and print it. Then, append a new movie to the list and print the updated list.

In [2]:
list_movies=['Pashupati Prasad', 'Balidan', 'Chakka Panja', 'Hami tin Bhai']
list_movies

['Pashupati Prasad', 'Balidan', 'Chakka Panja', 'Hami tin Bhai']

In [5]:
list_movies.append('Satru gate')
list_movies

['Pashupati Prasad',
 'Balidan',
 'Chakka Panja',
 'Hami tin Bhai',
 'Satru gate',
 'Satru gate']

5. Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.

In [7]:
list_integer=list(range(1,11))
list_integer

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
sum(list_integer)

55

6. Create a list of mixed data types including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.

In [12]:
list_data=[1,2,3,4,'data','science',2.3,4.6]
list_data

[1, 2, 3, 4, 'data', 'science', 2.3, 4.6]

In [14]:
list_data.pop(0)
list_data

[3, 4, 'data', 'science', 2.3, 4.6]

7. Create a tuple containing the names of the days of the week and print it. Access and print the name of the third day.

In [16]:
days=('sunday','monday','tuesday','wednesdday','thursday','friday','saturday')
days

('sunday', 'monday', 'tuesday', 'wednesdday', 'thursday', 'friday', 'saturday')

In [19]:
days[2]

'tuesday'

8. Create a tuple of your favorite colors and print it. Check if a certain color is present in the tuple and print the result.

In [32]:
color=('red','white','blue','orange')
color

('red', 'white', 'blue', 'orange')

In [33]:
if 'black' in color:
    print('yes')
else:
    print('No')

No

In [35]:
if 'red' in color:
    print('yes')
else:
    print('No')

yes

9. Create a dictionary representing the information of a book with keys "title", "author", and "year" and print it. Update the year of the book and print the updated dictionary.

In [50]:
book = {
    'title': 'Muna Madan',
    'author':'Laxmi Prasad Devkota',
    'Year':1962
}
book

{'title': 'Muna Madan', 'author': 'Laxmi Prasad Devkota', 'Year': 1962}

In [52]:
book['Year']=1965
book

{'title': 'Muna Madan', 'author': 'Laxmi Prasad Devkota', 'Year': 1965}

10. Create a dictionary containing the names of fruits as keys and their corresponding colors as values and print it. Add a new fruit-color pair to the dictionary and print the updated dictionary

In [56]:
fruit = {
'apple' : 'green',
    'orange' : 'Orange',
'banana' : 'yellow'
}
fruit

{'apple': 'green', 'orange': 'Orange', 'banana': 'yellow'}

In [58]:
fruit['grapes']='black'
fruit

{'apple': 'green', 'orange': 'Orange', 'banana': 'yellow', 'grapes': 'black'}

11. Create a dictionary representing the population of different cities with keys as city names and values as population numbers and print it. Remove a city from the dictionary and print the modified dictionary.

In [65]:
City = {
    'Kathmandu' : 100000,
    'Pokhara' : 40000,
 'chitwan' : 50000
}
City

{'Kathmandu': 100000, 'Pokhara': 40000, 'chitwan': 50000}

In [67]:
del City['Pokhara']
City

{'Kathmandu': 100000, 'chitwan': 50000}